body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}


h2{
    color: rgba(105, 0, 0, 0.979);
    font-size: 12.5px;
    padding: 0px;
}

p{
    font-size: 16px;
    color: rgb(150, 0, 0);
    padding: 0px;

}
.leaflet-popup-content-wrapper, .leaflet-popup.tip p {
  background-color: #FFEDA0;
  text-align: center;

}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.904);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
 
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}